In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
usr_agent = {'User-Agent': 'Mozilla/5.0'}
url = 'https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav'
web_page = requests.get(url, headers=usr_agent)

In [3]:
soup = BeautifulSoup(web_page.content, 'lxml')
list_of_companies = list(map(lambda x: x.text.strip(), soup.find_all('h2', class_='companyCardWrapper__companyName')))

In [4]:
company_info = list(map(lambda x: x.text.strip().split('|'), soup.find_all('span', class_='companyCardWrapper__interLinking')))
df = pd.DataFrame(company_info, columns=['service field', 'size', 'type', 'years', 'location'])

In [5]:
df['company_name'] = list_of_companies
df = df[['company_name', 'service field', 'size', 'type', 'years', 'location']]
df.head()

,company_name,service field,size,type,years,location
0,TCS,IT Services & Consulting,1 Lakh+ Employees,Public,55 years old,Mumbai +283 more
1,Accenture,IT Services & Consulting,1 Lakh+ Employees,Public,34 years old,Dublin +141 more
2,Cognizant,IT Services & Consulting,1 Lakh+ Employees,Forbes Global 2000,29 years old,Teaneck. New Jersey. +111 more
3,Wipro,IT Services & Consulting,1 Lakh+ Employees,Public,78 years old,Bangalore/Bengaluru +246 more
4,ICICI Bank,Banking,1 Lakh+ Employees,Public,29 years old,Mumbai +1189 more

In [6]:
df.to_csv('web_scraped_data.csv', index=False)